*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          font-weight: 500;
          color:#7d7257;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cart{
  margin-top: 10px;
  display: block;
}


.cart .left {

  -moz-box-direction: normal;
  max-width: 60%;
  flex-basis:60% ;
  position: inherit;
  top: 0px;
  left: 100px;
  margin-left:20px;
  
}

.cart .right {
  -moz-box-direction: normal;
  max-width: 37%;
  flex-basis:37% ;
  position: fixed;
  margin-top: 10px;
  padding-left: 150px;
  right: -100px;

  top: 300px;
  left:800px;

}
.cart input {
   width: 40px;
}
.cart table {
  border-collapse: collapse;
  width: 100%;
}

.cart th, td {
  text-align: left;
  padding: 4px;
  border-bottom: 3px solid rgb(235, 229, 229);
}
.cart button {
  border:2px solid #ffb300;
  background-color: white;
  height: 30px;
  font-weight: 900;
  cursor: pointer;
  outline: none;
}
.cart button:hover {
  border:2px solid #ffb300;
  background-color: #ffb300;
  height: 30px;
  font-weight: 900;
}

.cart button:active {
  background-color: #ffb300;

  transform: translateY(1px);
}

