@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');


.order{
    font-weight: 500;
          color:#7d7257;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1200px)
{
    .order{
    max-width: 1140px;
  }
}
.order .d-flex{
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 0 0 5px 5px;
  padding: 25px;
}
.order form{
  flex: 4;
}
.order .Yorder{
  flex: 2;
}
.order .title{
  background-color: white;
  border-radius:5px 5px 0 0 ;
  padding: 20px;
  color: black;
}
.order h2{
  margin: 0;
  padding-left: 15px; 
}
.order .required{
  color: red;
}
.order label, table{
  display: block;
  margin: 15px;
}
.order label>span{
  float: left;
  width: 25%;
  margin-top: 12px;
  padding-right: 10px;
}
.order input[type="text"], input[type="tel"], input[type="email"], select
{
  width: 70%;
  height: 30px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #dadada;
  color: #888;
}
.order select{
  width: 72%;
  height: 45px;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.order .Yorder{
  margin-top: 15px;
  height: 600px;
  padding: 20px;
  border: 1px solid #dadada;
}
.order table{
  margin: 0;
  padding: 0;
}
.order th{
  border-bottom: 1px solid #dadada;
  padding: 10px 0;
}
.order tr>td:nth-child(1){
  text-align: left;
  color: #2d2d2a;
}
.order tr>td:nth-child(2){
  text-align: right;
  color: #ffb300;
}
.order td{
  border-bottom: 1px solid #dadada;
  padding: 25px 25px 25px 0;
}

.order p{
  display: block;
  color: #888;
  margin: 0;
  padding-left: 25px;
}
.order .Yorder>div{
  padding: 15px 0; 
}

.order button{
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background: #ffb300;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
.order button:hover{
  cursor: pointer;
  background: #ffb300;
}