* {
  margin: 0;
  padding: 0;
}

.main-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
}

.header {
  font-size: 6px;
  color: #7d7d7d;
  font-weight: 900px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header img {
  height: 100px;
  width: 100px;
}

.header .search-container {
  height: auto;
}

.header .search-container form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .search-container form button {
  width: 25px;
  height: 27px;
  border: none;
}

.header .search-container form input {
  height: 25px;
  width: 400px;
  border: 0.5px solid #ccc;
  border-radius: 1px;
}

.header .search-container img {
  height: 15px;
  width: 15px;
}

.header .love button {
  width: 5px;
  height: 5px;
}

.header .phone {
  font-size: 12px;
}

nav {
  background-color: #ffb300;
  display: block;
  text-align: center;
  height: 40px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav a {
  display: block;
  text-decoration: none;
  padding: .8em 1.8em;
  text-transform: uppercase;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 2px;
  color: #7d7257;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: relative;
}

.nav {
  vertical-align: top;
  display: inline-block;
  width: auto;
}

.nav li {
  position: relative;
}

.nav > li {
  float: left;
  margin-right: 1px;
}

.nav > li > a {
  margin-bottom: 1px;
}

.nav > li:first-child {
  border-radius: 4px 0 0 4px;
}

.nav > li:first-child > a {
  border-radius: 4px 0 0 0;
}

.nav > li:last-child {
  border-radius: 0 0 4px 0;
  margin-right: 0;
}

.nav > li:last-child > a {
  border-radius: 0 4px 0 0;
}

.nav li li a {
  margin-top: 1px;
}

.nav li a:first-child:nth-last-child(2):before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  top: 50%;
  right: 5px;
}

/* submenu positioning*/
.nav ul {
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  left: -99999em;
  background-color: white;
}

.nav > li:hover > ul {
  left: auto;
  padding-top: 5px;
  min-width: 100%;
}

.nav > li li ul {
  border-left: 1px solid #fff;
}

.nav > li li:hover > ul {
  /* margin-left: 1px */
  left: 100%;
  top: -1px;
}

/* arrow hover styling */
.nav > li > a:first-child:nth-last-child(2):before {
  border-top-color: #7d7257;
}

.nav > li:hover > a:first-child:nth-last-child(2):before {
  border: 1px solid transparent;
  margin-top: -5px;
}

.nav li li > a:first-child:nth-last-child(2):before {
  border-left-color: #7d7257;
}

.nav li li:hover > a:first-child:nth-last-child(2):before {
  border: 2px solid transparent;
  right: 10px;
}

.flex {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex div {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 260px;
  width: 220px;
  text-align: center;
  margin: 5px 2px;
}

.flex div:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.flex div img {
  height: 200px;
  width: 220px;
}

.flex div .price {
  color: black;
  font-size: 18px;
  font-weight: 400;
}

h1 {
  color: #7d7d7d;
  width: 100%;
  text-align: center;
  border-bottom: 1.4px solid #ffb300;
  line-height: 0.1em;
  margin: 40px 0 40px;
}

h1 span {
  background: #fff;
  padding: 0 10px;
}

.main {
  max-height: 550px;
  background-color: #292c2f;
  color: white;
  font-size: 38pt;
  text-align: center;
  line-height: 550px;
}

.footer-distributed {
  background-color: #292c2f;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #5383d3;
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
}

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }
}
/*# sourceMappingURL=index.css.map */